version: "2.1"

networks:
  # docker network create aether_internal
  gather:
    external:
      name: aether_internal

volumes:
  # docker volume create gather_database_data
  database_data:
    external:
      name: gather_database_data

services:

  # ---------------------------------
  # Database container
  # ---------------------------------

  db:
    extends:
      file: ./aether-bootstrap/docker-compose-base.yml
      service: postgres-base
    volumes:
      - database_data:/var/lib/postgresql/data
    networks:
      - gather

  # ---------------------------------
  # NGINX container
  # ---------------------------------

  nginx:
    extends:
      file: ./aether-bootstrap/docker-compose-base.yml
      service: nginx-base
    volumes:
      # Gather config file
      - ./conf/nginx/sites-enabled/gather.conf:/etc/nginx/sites-enabled/gather.conf
      # gather favicon
      - ./conf/gather.ico:/media/gather.ico
    depends_on:
      kernel:
        condition: service_healthy
      odk:
        condition: service_healthy
      ui:
        condition: service_healthy
      gather:
        condition: service_started

    networks:
      - gather

  # ---------------------------------
  # Aether kernel container
  # ---------------------------------

  kernel:
    extends:
      file: ./aether-bootstrap/docker-compose-base.yml
      service: kernel-base
    depends_on:
      db:
        condition: service_healthy
    networks:
      gather:
        aliases:
          - kernel.aether.local

  # ---------------------------------
  # ODK Adapter container
  # ---------------------------------

  odk:
    extends:
      file: ./aether-bootstrap/docker-compose-base.yml
      service: odk-base
    depends_on:
      db:
        condition: service_healthy
      kernel:
        condition: service_started
    networks:
      gather:
        aliases:
          - odk.aether.local

  # ---------------------------------
  # Aether UI container
  # ---------------------------------

  ui:
    extends:
      file: ./aether-bootstrap/docker-compose-base.yml
      service: ui-base
    depends_on:
      db:
        condition: service_healthy
      kernel:
        condition: service_started
    networks:
      gather:
        aliases:
          - ui.aether.local

  # ---------------------------------
  # Gather container
  # ---------------------------------

  gather:
    extends:
      file: ./docker-compose-base.yml
      service: gather-base
    depends_on:
      db:
        condition: service_healthy
      kernel:
        condition: service_started
      odk:
        condition: service_started
    networks:
      gather:
        aliases:
          - gather.local
